body {
	background: #CCCCCC;
}

#banner {
	width: 100%;
}

div h1 {
	margin: 20px 80px 0;
	vertical-align: top;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 45px;
	right: 0;
}

nav li {
	display: inline-block;
	margin: 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.tracoprincipal{
	padding-left: 15px;
}

.titulotracocentralizado {
	text-align: center;
}

p {
	text-align: center;
	background: #CCCCCC;

}

#missao {
	font-size: 20px;
}

em strong {
	color: red;
}

.itens {
	font-style: italic;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}


.imagembeneficios {
	width: 50%;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	padding: 5%;
}

